<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyMLPipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

  </head>
  <style>
    .center-text{
        text-align: center
    }
    .dropdown-inactive{
        display: none;
    }
    .dropdown-active{
        display: block;
    }
    hr{
        margin:2px;
    }
    .sidebar-active{
        background: aquamarine;
        border: 1px solid;
    }
    td{
        
        /*height: 30%;*/
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-width: 100px;
    }
  </style>
  <script>
    const run_data = {{ run_details | tojson }} //can be improved
    var current_table={{current_experiment | safe}} //can be improved
    current_table=current_table[0]
    toggle=false;



    function show_dropdown(id){
        console.log(id)
        console.log(toggle)
        if(toggle==false){
            console.log("show")
            document.getElementById(id).style.display="block"
            toggle=id;
        }
        else if(toggle==id){
            console.log("hide")
            document.getElementById(id).style.display="none"
            toggle=false;
        }
        else if(toggle!=id){
            document.getElementById(toggle).style.display="none"
            document.getElementById(id).style.display="block"
            toggle=id
        }
        
    }
    var metrics=[]
    var run_ids=[]
    function checkmetric(id)
    {   
        //console.log(id)
        console.log(document.getElementById("checkbox_"+id).checked)
        //document.getElementById(id).checked) 
        if(document.getElementById("checkbox_"+id).checked){
            id=id.split("_")[1]
            metrics.push(id)
            //document.getElementById("checkbox_"+id).setAttribute('checked', 'checked')
        }
        else{
            index = metrics.indexOf(id.split("_")[1]);
            if (index > -1) {
                metrics.splice(index, 1); // 2nd parameter means remove one item only
              }
        }
        if(metrics.length>0 & run_ids.length>0){
            document.getElementById("metric-compare-button").disabled = false
        }
        else{
            document.getElementById("metric-compare-button").disabled = true
        }
       
        console.log(metrics,run_ids)
    }
    function checkrow(id){
        
        if(document.getElementById("checkbox_"+id).checked){
            run_ids.push(id)
        }
        else{
            index = run_ids.indexOf(id);
            if (index > -1) {
                run_ids.splice(index, 1); // 2nd parameter means remove one item only
              }
        }
        if(metrics.length>0 & run_ids.length>0){
            document.getElementById("metric-compare-button").disabled = false
        }
        else{
            document.getElementById("metric-compare-button").disabled = true
        }
        console.log(metrics,run_ids)
    }
    function compare_metrics(){
        traces=[]
        for(var i=0;i<run_ids.length;i++){
            label_for_plot=run_ids[i].slice(0,13)+"..."
            run_details=run_ids[i]
            metrics_details=run_data[run_details]["metrics"]
            metrics_values=[]
            for(var j=0;j<metrics.length;j++){
                metrics_values.push(metrics_details[metrics[j]])
            }
            trace=create_traces(metrics,metrics_values,label_for_plot)
            traces.push(trace)
        }
        plot_bar_group(traces)
    }
    function show_table(id){
        if(id!=current_table){
            document.getElementById(id).style.display='table'
            document.getElementById(current_table).style.display='none'
            document.getElementById("sidebar_"+id).classList.add("sidebar-active")
            
            document.getElementById("sidebar_"+current_table).classList.remove("sidebar-active")
            current_table=id
            metrics=[]
            run_ids=[]
            remove_plot_bar_group()
            uncheck_all()
        }
        
    }
    function uncheck_all(){
        input_elements=document.getElementsByTagName("input")
        for(var i=0;i<input_elements.length;i++){
            if(input_elements[i].type=="checkbox"){
                if(input_elements[i].checked){
                    console.log(input_elements[i].click())
                }
            }
        }
    }
    function metricsfilter(){
        value=document.getElementById('metricsfilter').value;
        condition=document.getElementById("metricsfilter_condition").value
        flag=true
        if(condition==""){
            document.getElementById("error").innerHTML="Please enter some value for filtering the metrics EX: >10"
            document.getElementById("error").style.display="block"
            flag=false
        }
        if(flag){
            window.open("/?metrics="+value+"&metricsfilter="+condition,"_self")
        }
        
    }
    function filtertags(){
        tags=document.getElementsByName('tagCheckboxs')
        all_tags=[]
        
        for(var i=0;i<tags.length;i++){
            if (tags[i].checked){
                all_tags.push(tags[i].value)
                
            }
        }
        if (all_tags.length>0){
            window.open("/?tags="+all_tags,"_self")
        }

        
    }
    function hideerror(){
        document.getElementById("error").style.display="none"
        
    }
  </script>
  <body>
  <section class="section">
    <div class="container">
        
        <h1 class="title center-text"><span><img src="{{ url_for('static', filename='logo.svg') }}" height="30" width="30"></span> PyMLPipe</h1>
    </div>
  </section>
  
  <section class='section'>
    {% if error != "" %}
    <div class="notification is-danger is-light" id="error">
        <button class="delete" onclick="hideerror()"></button>
        {{error}} Please provide a valid expression Ex: >10
    </div>
    {%else%}
    <div class="notification is-danger is-light" id="error" style="display:none">
        <button class="delete" onclick="hideerror()"></button>
        {{error}}
    </div>
    {%endif%}
    <div class="columns">


        <div class="column is-one-fifth">

        <aside class="menu">
            <p class="menu-label">
            Experiments
            </p>
            <ul class="menu-list">
            {%for experiment in runs%}
            
            <li onclick="show_table('{{experiment}}')" id="sidebar_{{experiment}}"><a href="#{{experiment}}" >{{experiment}}</a></li>
            
            <hr>
            <!--
            <li style="margin:5px;">
                <a class="is-active" href="#{{experiment}}" onclick=show_dropdown("{{experiment}}")>{{loop.index}}. {{experiment}}</a>
                <ul id="{{experiment}}" class="dropdown-inactive">
                {%for run in runs[experiment]['runs']%}
                <li><a>{{run[:15]}}...</a></li>
                
                {%endfor%}
                </ul>
            </li>
            -->
            {%endfor%}
                
            </ul>
            <p class="menu-label">
                Deployments
            </p>
            <ul class="menu-list">
                <li> <a href="/show_deployments/">Show Deployments</a></li>
            </ul>
            
        </aside>

        </div>

        <div class="column" >
            <div class="action-bar">
                <div class="columns box" style="margin:5px">
                    <!--<div class="column">
                
                    </div>-->
                    <!--
                    <div class="column">
                        <div class="field has-addons">
                            <div class="control">
                              <input class="input" type="text" placeholder="Filter metrics>condition">
                            </div>
                            <div class="control">
                              <a class="button is-info" onclick="filter()">
                                Search
                              </a>
                            </div>
                          </div>
                    </div>
                    -->
                    <div class="column">
                        <div class="field has-addons has-addons-centered">
                            <p class="control">
                              <span class="select">
                                <select id="metricsfilter">
                                    {%for metric in metrics%}
                                    <option value="{{metric}}">{{metric}}</option>
                                    {%endfor%}
                                </select>
                              </span>
                            </p>
                            <p class="control">
                              <input class="input" type="text" placeholder="Condition eg:>10" id="metricsfilter_condition" required>
                            </p>
                            <p class="control">
                              <a class="button is-primary" onclick="metricsfilter()">
                                Filter
                              </a>
                            </p>
                          </div>

                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                      Tags
                                    </a>
                                
                                    <div class="navbar-dropdown">
                                        {%for tag in tags%}
                                        <a class="navbar-item">
                                            <input type="checkbox" name="tagCheckboxs" value="{{tag}}"> {{tag}}
                                        </a>
                                        {%endfor%}
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <button class="button is-primary" onclick="filtertags()"><img src="{{ url_for('static', filename='filter.svg') }}" height="20" width="20"></button>

                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <div class="column">
                        <button class="button is-primary" onclick="compare_metrics()" id="metric-compare-button" disabled>Compare Metrics</button>
                    </div>
                </div>

            </div>
            {%for experiment in runs%}
            
            {%if loop.index==1%}
                {%set display='table'%}
            {%else%}
                {%set display='none'%}
            {%endif%}
            <table class="table is-striped" style="width:100%;display:{{display}}" id="{{experiment}}">
                
                <!--<thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                        
                        <th>
                            <input type="checkbox" onclick=checkmetric("{{metric}}")>
                            Select all
                        </th>
                        
                    </tr>
                </thead>-->
                <thead>
                    <tr>
                        <th></th>
                        <th>Run ID</th>
                        <th>Date</th>
                        <th>Model</th>
                        <th>version</th>
                        <th>tags</th>
                        
                        {%for metric in exp_wise_metrics[experiment]%}
                            <th>
                                <div>
                                    <input type="checkbox" onclick="checkmetric('{{experiment}}_{{metric}}')" id="checkbox_{{experiment}}_{{metric}}">
                                
                                <div>
                                {{metric}}
                                </div>
                                
                            </th>
                            
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    
                    {%for run in runs[experiment]['runs']%}
                    {%if run in run_details%}
                    <tr>
                        <td><input type="checkbox" onclick="checkrow('{{run}}')" id="checkbox_{{run}}"></td>
                        <td><a href="/run/{{experiment}}@{{run}}">{{run[:13]}}...</a></td>
                        <td>{{run_details[run].execution_time}}</td>
                        <td>{{run_details[run].model.model_name}}</td>
                        <td>{{run_details[run].version}}</td>
                        <td>
                            {%for tag in run_details[run].tags%}
                            <span class="tag is-warning ">{{tag}}</span>
                            {%endfor%}
                        </td>
                        {%for metric in exp_wise_metrics[experiment]%}
                        <td>{{run_details[run]["metrics"][metric]|string}}</td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                    
   
 
                </tbody>
               
            </table>
            {%endfor%}
            <!--Display tables--->
            <div id="plot-data">

            </div>
        </div>
        
    </div>
    <div class="columns">
        <div class="column is-one-fifth">

        </div>
        <div class="column">
            
        </div>
    </div>
    
    </section>
  </body>
  <script>
    function create_traces(labels,points,name){
        return {
            x: labels,
            y: points,
            name: name,
            type: 'bar'
          };
        
    }
    function plot_bar_group(data){
        
      var layout = {barmode: 'group'};
      Plotly.newPlot('plot-data', data,layout);
    }
    function remove_plot_bar_group(){
        Plotly.purge('plot-data');
    }
    document.getElementById("sidebar_"+current_table).classList.add("sidebar-active")

  </script>
</html>