{% extends "template.html" %}

{% block content %}
<style>
    #cy {
        width: 100%;
        height: 500px;
        display: block;
        border: 1px solid gainsboro
      }
</style>

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/jobs/">Pipeline</a></li>
        <li class="is-active"><a href="/jobs/view/{{pipelinename}}" aria-current="page">{{pipelinename}}</a></li>
      </ul>
</nav>
<div id="cy">

</div>
<script>
graph_dict={{grapg_dict|safe}}
var cy = cytoscape({

    container: document.getElementById('cy'),
              style: [
                  {
                      selector: 'node',
                      css: {
                          label: "data(label)",
            
                            width: 25,
                            height: 15,
                            shape: "round-rectangle",
                            color: "#828282",
                            "background-color":"data(color)",
                            'font-size':5,
                            'line-color': 'red'
                      }
                      
                  },
                  {
                    selector: 'edge',
                    css: {
                      'width': 2,
                      'line-color': '#ccc',
                      'target-arrow-color': '#ccc',
                      'target-arrow-shape': 'triangle' 
                  }
                }
              ],
              elements: graph_dict,
              
     layout: {
      name: 'dagre',
      rankDir: 'LR'
    },
      //pan: { x: 600, y: 100 },
  });

</script>
{% endblock %}